<div class="section-block section-block--three-numbers">
    <h2 class="section-block__title">Введіть 3 числа</h2>

    <div class="section-block__content">
        <div class="section-block__inputs-row">
            <input type="text" placeholder="Введіть число" class="section-block__input-field">
            <input type="text" placeholder="Введіть число" class="section-block__input-field">
            <input type="text" placeholder="Введіть число" class="section-block__input-field">
        </div>

        <div class="section-block__result section-block__result--max-number"></div>
    </div>
</div>