<div class="section-block section-block--max-number" data-category="numeric">
    <div class="container section-block__container">
        <h2 class="section-block__title">Введіть 3 числа</h2>

        <div class="section-block__content max-number__content">
            <div class="max-number__inputs">
                <input type="text" placeholder="Введіть число" class="max-number__input" inputmode="numeric"
                    pattern="\d*" oninput="this.value = this.value.replace(/\D/g, '')" required>
                <input type="text" placeholder="Введіть число" class="max-number__input" inputmode="numeric"
                    pattern="\d*" oninput="this.value = this.value.replace(/\D/g, '')" required>
                <input type="text" placeholder="Введіть число" class="max-number__input" inputmode="numeric"
                    pattern="\d*" oninput="this.value = this.value.replace(/\D/g, '')" required>
            </div>

            <p class="section-block__result">
                Найбільше число, яке ви ввели - <span class="max-number__val">—</span>
            </p>
        </div>

        <hr class="section-block__line">
    </div>
</div>