 <link rel="stylesheet" href="./css/calculator.css">
 <div class="calculator">

            <h2>Калькулятор</h2>

            <div class="calculator-content">

                <input
                    type="number"
                    id="number1"
                    placeholder="Введіть число">

                <div class="operations">

                    <button class="operator">+</button>
                    <button class="operator">*</button>
                    <button class="operator">-</button>
                    <button class="operator">/</button>

                </div>

                <input
                    type="number"
                    id="number2"
                    placeholder="Введіть число">

                <button id="equal">=</button>

                <input
                    type="text"
                    id="result-input"
                    placeholder="Результат"
                    readonly>

            </div>

        </div>
