<div class="section-block section-block--leap-year" data-category="numeric">
    <div class="container section-block__container">
        <h2 class="section-block__title">Перевір в який рік ти народився</h2>
        <div class="section-block__content">
            <div class="section-block__input-wrapper input-group">
                <input id="birthYear" type="text" placeholder="Введіть рік народження" class="input-group__field">
            
                <button id="checkYearBtn" class="input-group__button">
                    <img src="./img/search.svg" alt="Search" class="input-group__icon">
                </button>
            </div>
            
            <p id="result" class="section-block__result"></p>

        </div>
        <hr class="section-block__line">
    </div>
</div>