
   <div class="choose-scientiist">
        
<h1 class="div-h1">
    Обери вченого/их
</h1>

<div class="div">
<ul class="div-ul">
<li class="ul-li">
    <div class="ul-li-card">

    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

</ul>
<ul class="div-ul-1">
<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>
</ul>
<ul class="div-ul-2">
<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>
</ul>
<ul class="div-ul-3">
<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>

<li class="ul-li">
    <div class="ul-li-card">
        
    </div>
</li>
</ul>

</div>
<div class="div-second-scientist">
   <div class="scientist-div-1">
<p class="scientist-div-p">
Які вчені народилися в 19 ст.
</p>
   </div>
   <div class="scientist-div-2">
<p class="scientist-div-p">
Знайти рік народження Albert Einshtein
</p>
   </div>
   <div class="scientist-div-3">
<p class="scientist-div-p">
Відсортувати вчених за алфавітом
</p>
   </div>
   <div class="scientist-div-4">
<p class="scientist-div-p">
Знайти вчених, прізвища яких починаються на на літеру “С” 
</p>
   </div>
   <div class="scientist-div-5">
<p class="scientist-div-p">
Відсортувати вчених за кількістю прожитих років
</p>
   </div>
   <div class="scientist-div-6">
<p class="scientist-div-p">
Видалити всіх вчених, ім’я яких починається на “А”
</p>
   </div>
   <div class="scientist-div-7">
<p class="scientist-div-p">
Знайти вченого, який народився найпізніше
</p>
   </div>
   <div class="scientist-div-8">
<p class="scientist-div-p">
  Знайти вченого, який прожив найдовше і вченого,<br>
який прожив найменше
</p>
   </div>
</div>
<div class="divv">
    <p class="divv-p">
        1. Знайти вчених, в яких співпадають перші літери імені і прізвища
    </p>
</div>

    </div>
