
   <div class="choose-scientiist">
        
<h2 class="section-block__title">
    Обери вченого/их
</h2>

<div class="div">
<ul class="div-ul-scientist">

</ul>

</div>
<div class="div-second-scientist">
   <div class="scientist-div-1">
<p class="scientist-div-p-1">
Які вчені народилися в 19 ст.
</p>
   </div>
   <div class="scientist-div-2">
<p class="scientist-div-p-2">
Знайти рік народження Albert Einshtein
</p>
   </div>
   <div class="scientist-div-3">
<p class="scientist-div-p-3">
Відсортувати вчених за алфавітом
</p>
   </div>
   <div class="scientist-div-4">
<p class="scientist-div-p-4">
Знайти вчених, прізвища яких починаються на на літеру “С” 
</p>
   </div>
   <div class="scientist-div-5">
<p class="scientist-div-p-5">
Відсортувати вчених за кількістю прожитих років
</p>
   </div>
   <div class="scientist-div-6">
<p class="scientist-div-p-6">
Видалити всіх вчених, ім’я яких починається на “А”
</p>
   </div>
   <div class="scientist-div-7">
<p class="scientist-div-p-7">
Знайти вченого, який народився найпізніше
</p>
   </div>
   <div class="scientist-div-8">
<p class="scientist-div-p-8">
  Знайти вченого, який прожив найдовше і вченого,<br>
який прожив найменше
</p>
   </div>
</div>
<div class="divv">
    <p class="divv-p">
        1. Знайти вчених, в яких співпадають перші літери імені і прізвища
    </p>
</div>

    </div>
