<footer class="footer">
  <div class="container">

    <div class="footer-logo">
      <img src="images/logo.png" alt="Coding Magic Logo">
      <div class="logo-text">
        <h2>Coding</h2>
        <p>Magic</p>
      </div>
    </div>

 
    <div class="footer-contacts">
      <p>Тел: <a href="tel:+381234567890">+38 (123) 456 78 90</a></p>
      <p>E-Mail: <a href="mailto:codingmagic@gmail.com">codingmagic@gmail.com</a></p>
      <p>Facebook: CodingMagic</p>
      <p>Twitter: CodingMagic</p>
      <p>Instagram: CodingMagic</p>
    </div>
    
    <div class="footer-subscribe">
      <form>
        <input
          type="email"
          placeholder="Ваша ел. адреса..."
          required
        >
        <button type="submit">Підписатись</button>
      </form>

      <p class="subscribe-text">
        *Підписавшись, Ви зможете отримувати інформацію про новини на сайті
      </p>
    </div>

  </div>
</footer>