<div class="footer">
    <div class="container">

        <a href="./index.html" class="footer-logo">
            <img src="./img/site-logo.png" alt="Coding Magic">
        </a>

        <ul class="footer-contacts">
            <li><a href="tel:+380000000000">+38 (000) 000-00-00</a></li>
            <li><a href="mailto:codingmagic@gmail.com">codingmagic@gmail.com</a></li>
            <li>Україна, Київ</li>
        </ul>

        <form class="footer-form">
            <input type="email" placeholder="Ваша ел. пошта..." class="footer-input">

            <button type="submit" class="footer-btn">
                Підписатися
            </button>
        </form>
        <p class="footer-disclamer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</div>

<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal-close">
            <img src="./img/close.png" alt="Закрити">
        </button>
        <h2 class="modal-title">
            Дякую за підписку!
        </h2>
    </div>

</div>