<div class="guess-section">
    <div class="container">

        <h2 class="guess-title">
            Вгадай число, яке загадав комп'ютер
        </h2>

        <div class="guess-content">

            <div class="guess-input">
                <input type="number" id="guessNumber" placeholder="Введіть число">

                <button id="guessBtn">
                    <img src="./img/search.png" alt="Пошук">
                </button>
            </div>

            <p class="guess-message">
                Вітаю, ви вгадали число! (number)
            </p>

        </div>
    </div>
</div>