<div class="guess-section section-block--leap-year">
    <div class="container section-block__container">
        <h2 class="section-block__title guess-title">
            Вгадай число, яке загадав комп'ютер
        </h2>

        <div class="section-block__content guess-content">
                <div class="section-block__input-wrapper guess-input input-group">
                    <input id="guessNumber" type="number" placeholder="Ввеіть число" class="input-group__field " >
                
                    <button id="guessBtn" class="input-group__button">
                        <img src="./img/search.svg" alt="Search" class="input-group__icon">
                    </button>
                </div>
                <p class="guess-message section-block__result" id="resultat">
                </p>
                </div>
            </div> 
       
        <hr class="section-block__line">
    </div>
</div>