  <div class="container">

    
        <div class="game">

            <h2>Камінь - ножиці - папір</h2>

            <div class="game-content">

                <div class="buttons">

                    <button class="choice-btn" id="rock">
                        <img src="images/rock.png" alt="Камінь">
                    </button>

                    <button class="choice-btn" id="scissors">
                        <img src="images/scissors.png" alt="Ножиці">
                    </button>

                    <button class="choice-btn" id="paper">
                        <img src="images/paper.png" alt="Папір">
                    </button>

                </div>

                <div class="score">

                    <h3>Рахунок:</h3>

                    <p>Комп'ютер - <span id="computer-score">0</span></p>
                    <p>Ви - <span id="player-score">0</span></p>

                </div>

            </div>

            <p id="result">Ви виграли раунд!</p>

            <button id="computer-choice">
                Варіант комп'ютера
            </button>

        </div>
 </div>
        