<div class="section-block section-block--time-calculator">
    <h2 class="section-block__title">Калькулятор часу</h2>

    <div class="section-block__content">
        <div class="section-block__input-wrapper input-group">
            <input type="text" placeholder="Введіть число" class="input-group__field">
            <button class="input-group__button">
                <i class="input-group__icon ph ph-magnifying-glass"></i>
            </button>
        </div>

        <div class="section-block__divider"></div>

        <div class="section-block__result section-block__result--time"></div>
    </div>
</div>