.section-block--max-number .section-block__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-block--max-number .section-block__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--main-color);
}

.section-block__content {
    margin: 0 20px 0 20px;
}

.max-number__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.max-number__inputs {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.max-number__input {
    width: 100%;
    max-width: 180px;
    height: 50px;
    background-color: var(--input-color);
    border: none;
    border-radius: 50px;
    outline: none;
    font-family: var(--font-family);
    font-size: 12px;
    color: var(--main-color);
    text-align: center;
    box-shadow: 3px 3px 0px #B5B5B5;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.max-number__input::placeholder {
    color: #8E8E8E;
}

.max-number__input:focus {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 0px #B5B5B5;
}

.section-block--max-number .section-block__result {
    font-family: var(--font-family);
    font-size: 12px;
    text-align: center;
    color: var(--main-color);
    margin: 0;
}
