.calculator-container {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 0 0 0;

}

.calculator-content {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;
}

.calc-input {
    background-color: var(--input-color);
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 12px;
    width: 200px;
    color: var(--light-color);
    box-shadow: 3px 3px 0px var(--shadow-color);
}

.calc-input::placeholder {
    color: var(--placeholder-color);
}

.operations-grid {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    gap: 8px;
}

.operator-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-color);
    box-shadow: 3px 3px 0px var(--shadow-color);
    color: var(--bg-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s;
}

.operator-btn.active {
    background-color: var(--accent-color);
}

#equal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-color);
    color: var(--bg-color);
    font-size: 24px;
    cursor: pointer;
    box-shadow: 3px 3px 0px var(--shadow-color);
    transition: background 0.3s;
}

#equal:hover,
.operator-btn:hover {
    background-color: var(--accent-color);
}