* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-scientiist{
   
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.div-h1{
    
    font-weight: 400;
padding-bottom:36px ;
text-align: center;
font-size: 16px;
font-family: var(--font-family);
}
.ul-li-card{
    width: 100px;
    height: 100px;
    background-color: rgba(217, 217, 217, 1);
border-radius: 20px;
}
.div{
    display: flex;
    justify-content: center;
}
.div-ul-scientist{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 59px;
  padding-bottom: 36px;
}
.div-ul-1{
    padding-right: 59px;
}

.div-ul-2{
    padding-right: 59px;
}
.ul-li{
    padding-bottom: 36px;
}
.div-second-scientist-ul{
    columns:2 ;
    column-gap: 36px;
    
}
.div-second-scientist{

      display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 36px;
}

.divv{
    display: flex;
justify-content: center;
}
.scientist-li-p{
    text-align: right;
}
.divv-p{
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    background-color: black;
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-family: var(--font-family);
   font-size: 12px;
box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}

 .scientist-div-1,
.scientist-div-2,
.scientist-div-3,
.scientist-div-4,
.scientist-div-5,
.scientist-div-6,
.scientist-div-7,
.scientist-div-8 {
    background-color: #000;
    width: 500px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px;   
  
    width: fit-content;
}
.scientist-div-p-1,
.scientist-div-p-2,
.scientist-div-p-3,
.scientist-div-p-4,
.scientist-div-p-5,
.scientist-div-p-6,
.scientist-div-p-7,
 .scientist-div-p-8 {
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
   font-weight: 400px;
    font-size: 12px;
    font-family: var(--font-family);
    cursor: pointer;
 }
 
.div-second-scientist > div:nth-child(odd) {
    justify-self: end;
}
.div-second-scientist > div:nth-child(even) {
    justify-self: start;
}
.scientist-div-7{
height: 35px;
}